spring:
  security:
    oauth2:
      client:
        registration:
          sso:
            client-id: sta_artemis
            client-secret: a5f4ad8d-285f-4ad9-8eb3-aae04be3ac15
            authorization-grant-type: client_credentials
            scope:
            - bid
        provider:
          sso:
            issuer-uri: https://login.sso.az.run.withtanzu.com
